students {
	background-color: #e6e6e6;
}
student {
	display:block;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: 10px auto 10px auto;
	text-align: center;
	font-family: arial;
}
usn {
	display: block;
	background-color: black;
	color : white;
	font-size: 20px;
	font-style: bold;
	padding: 6px;
}
name, college, branch, year{
	display: block;
	font-size: 16px;
	font-style: bold;
	padding: 6px;
}

email {
	
	display:block;
	background-color: black;
	color: white;
	padding: 6px ;
}